<div class="container-fluid bg-gradient">
  <div class="row">
    <div class="col-lg-12 p-5">
      <h1>{{ homeTitle }}</h1>
      <p>
        La fondazione Raptus nasce per ricordare il nostro amico <b>Andrea Rizzi</b>.<br/>
        Anche se Andrea se ne è andato davvero troppo presto, con le sue azioni ed il suo modo di essere è riuscito ad ispirarci ed a lasciare il segno.<br/>
        Tra le alre cose, Andrea era una persona pragmatica e per questo abbiamo pensato che la fondazione a lui dedicata debba avere uno scopo utile,
        quello di raccogliere informazioni per le persone che vanno in montagna e di creare un sito dedicato a questo splendido mondo.
      </p>
      <p>
        Le informazioni verranno prese da fonti attendibili e dagli utenti che vorranno collaborare.
      </p>
    </div>
  </div>
</div>
<div class="container-fluid h-100-vh"></div>